body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto  ;
}

#container h1
{
    font-size: 20px;
}

#cabecera
{
    color: aliceblue;
    box-shadow: -2px 2px 15px -4px rgba(71,71,71,1);
    text-align: left;
    font-size: 2em;
    background-color: #33f;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

#post
{
    padding-top: 1em   ;
}